/* ===== Général ===== */
.item {
    border: 2px solid black !important;
    padding: 10px;
    margin: 10px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 25px;
    margin-top: 119px;
    margin-bottom: 90px;
    overflow-x: hidden;
}

/* ===== Titres ===== */
h2 {
    font-family: "Granesta", sans-serif;
    font-size: 60px;
    letter-spacing: 4px;
}

/* ===== Tickets ===== */
.ticket {
    border: 2px solid black;
    justify-content: left;
    align-items: center;
    margin: 70px 30px 0;
    padding: 6px 376px 20px 27px;
    width: 604px;
}
.iner_ticket{
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
    padding-left: 26px;
    padding-bottom: 20px;
    margin: 5px -462px 50px 32px;
}
.first_line_ticket {
    display: flex;
    justify-content: space-between;
    margin-right: -961px;
    gap: 110px;
}
.left-content, .right-content {
    flex-basis: 50%;
}
.date {
    font-size: 15px;
    color: black;
    margin-right: -97px;
}
.right-content {
    display: flex;
    align-items: center;
}
.author {
    font-size: 17px;
}
.title_ticket {
    font-size: 25px;
    margin-top: 8px;
}
img {
    margin-left: 4px;
}

/* ===== Reviews ===== */
.review {
    border: 2px solid black;
    text-align: left;
    margin: 70px 30px 0;
    padding-right: 508px;
    padding-left: 19px;
    width: 475px;
}
.first_line_review {
    display: flex;
    justify-content: space-between;
    margin-right: -388px;
    margin-top: 10px;
    gap: 110px;
}
p {
    margin-right: -146px;
}
.second_line_review {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.star {
    margin-top: 0;
}
.title_review {
    margin-right: 25px;
    margin-top: 7px;
    font-size: 25px;
}
.star {
    margin-top: 0;
}
.body_review {
    margin-top: -2px;
}

/* ===== Boutons ===== */
.boutton_creation {
    font-family: "BebasNeue-Regular", sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #048b9a;
    color: aliceblue;
    border: none;
    padding: 12px 48px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 20px;
    text-decoration: none;
}
.boutton {
    font-family: "BebasNeue-Regular", sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #048b9a;
    color: aliceblue;
    border: none;
    padding: 12px 48px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 56px 20px;
    text-decoration: none;
}
button:hover {
    background-color: darkslategray;
}
#boutton {
    display: flex;
    flex-direction: row;
    gap: 113px;
}
