{% extends 'base_user.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'flux.css' %}">
{% block content %}

    <h2>Flux</h2>

    <button><a class="{% block flux %}{% endblock %}" href="{% url 'review_whithout_ticket' %}">Demander une critique</a></button>
    <button><a class="{% block posts %}{% endblock %}" href="{% url 'ticket' %}">Créer une critique</a></button>

    <div class="ticket">
        {% for ticket in tickets %}

            <p>{{ ticket.book_title }}</p>
            <p>{{ ticket.book_description }}</p>
            <img src="{{ ticket.book_image.url }}">

            {%  if request.user == ticket.user %}
                <p>Vous avez publié ce ticket.</p>
            {% else %}
                <p>{{ ticket.user }} a publier ce ticket</p>
            {% endif %}

            <p>{{ ticket.date_created }}</p>

              {% if ticket not in reviewed_tickets %}
                <a href="{% url 'review_whith_ticket' id=ticket.id %}"> <button>Créer une critique</button>
                </a>
            {% endif %}

        {% endfor %}
    </div>

    <div class="ticket">
    {% for ticket in tickets %}

        <p>{{ ticket.book_title|capfirst }}</p>
        <p>{{ ticket.book_description|capfirst }}</p>
        <img src="{{ ticket.book_image.url }}">

        {% if request.user == ticket.user %}
            <p>Vous avez publié ce ticket.</p>
        {% else %}
            <p>{{ ticket.user|capfirst }} a publié ce ticket.</p>
        {% endif %}

        <p>{{ ticket.date_created }}</p>

        <h3>Reviews pour ce ticket:</h3>
        {% for review in reviews %}

            {% if review.ticket == ticket %}
                <p>{{ review.headline }}</p>

                <p>
                    {% if review.rating == 1 %}
                        &#x2605; &#x2606; &#x2606; &#x2606; &#x2606;
                    {% elif review.rating == 2 %}
                        &#x2605; &#x2605; &#x2606; &#x2606; &#x2606;
                    {% elif review.rating == 3 %}
                        &#x2605; &#x2605; &#x2605; &#x2606; &#x2606;
                    {% elif review.rating == 4 %}
                        &#x2605; &#x2605; &#x2605; &#x2605; &#x2606;
                    {% elif review.rating == 5 %}
                        &#x2605; &#x2605; &#x2605; &#x2605; &#x2605;
                    {% endif %}
                </p>

                <p>{{ review.body|capfirst }}</p>

                {% if request.user == review.user %}
                    <p>Vous avez publié ce ticket.</p>
                {% else %}
                    <p>{{ review.user|capfirst }} a publié ce ticket.</p>
                {% endif %}

                <p>{{ review.time_created }}</p>

            {% endif %}

        {% endfor %}

        {% if ticket not in reviewed_tickets %}
            <a href="{% url 'review_whith_ticket' id=ticket.id %}">
                <button>Créer une critique</button>
            </a>
        {% endif %}

    {% endfor %}
</div>


{% endblock content %}
