{% extends 'base_user.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ticket.css' %}">

{% block content %}

    <h2>Mes Posts</h2>

    {% for item in combined_items %}
        {% if item.content_type == 'TICKET' %}
            {% with ticket=item %}
                {% if request.user == item.user %}

                    {%  if request.user == item.user %}
                        <p>Vous avez publié ce ticket.</p>
                    {% else %}
                        <p>{{ item.user|capfirst }} a demandé une critique.</p>
                    {% endif %}

                    <p>{{ item.date_created }}</p>
                    <p>{{ item.book_title }}</p>
                    <p>{{ item.book_description }}</p>
                    <img src="{{ item.book_image.url }}">

                    <a href="{% url 'delete_ticket' id=item.id %}"> <button>Supprimer ce ticket</button> </a>
                    <a href="{% url 'edit_ticket' id=item.id %}"> <button>Modifier ce ticket</button> </a>

                {% endif %}
            {% endwith %}
        {% elif item.content_type == 'REVIEW' %}
            {% with review=item %}
                {% if request.user == item.user %}

                    {% if request.user == review.user %}
                        <p>Vous avez publié une critique.</p>
                    {% else %}
                        <p>{{ item.user|capfirst }} a publié cette critique.</p>
                    {% endif %}

                    <p>{{ item.time_created }}</p>
                    <p>{{ item.headline }}</p>

                    <p> {% if item.rating == 1 %}
                            &#x2605; &#x2606; &#x2606; &#x2606; &#x2606;
                        {% elif item.rating == 2 %}
                            &#x2605; &#x2605; &#x2606; &#x2606; &#x2606;
                        {% elif item.rating == 3 %}
                            &#x2605; &#x2605; &#x2605; &#x2606; &#x2606;
                        {% elif item.rating == 4 %}
                            &#x2605; &#x2605; &#x2605; &#x2605; &#x2606;
                        {% elif item.rating == 5 %}
                            &#x2605; &#x2605; &#x2605; &#x2605; &#x2605;
                        {% endif %}
                    </p>

                    <p>{{ item.body|capfirst }}</p>
                    <p> Ticket - {{ item.ticket.user }} </p>
                    <p>{{ item.ticket.book_title|capfirst }}</p>
                    <p>{{ item.ticket.book_description|capfirst }}</p>
                    <img src="{{ item.ticket.book_image.url }}">

                    <a href="{% url 'delete_review' id=item.id %}"> <button>Supprimer cette critique</button> </a>
                    <a href="{% url 'edit_review' id=item.id %}"> <button>Modifier cette critique</button> </a>

                {% endif %}
            {% endwith %}
        {% endif %}
    {% endfor %}

{% endblock content %}