{% extends 'base_authentication.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/connection.css' %}"/>
        <div id="content">
            <h2>- Connectez-vous -</h2>
            <p>{{ message }}</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" >Se connecter</button>
            </form>
            <div class="inscription">
                <p class="question">Pas encore inscrit?</p>
                <p>Inscrivez-vous maintenant en cliquant <a href="{% url 'inscription' %}">ici</a> </p>
            </div>
        </div>
{% endblock content %}
