{% extends 'base_user.html' %}
{% block content %}

    <h2>Suivre d'autres utilisateurs</h2>
    <form method="post">
    <p>{{ message }}</p>
        {% csrf_token %}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username">
        <button type="submit" name="follow">Envoyer</button>
    </form>

    <h2>Abonnements</h2>
    <ul>
        {% for user in following %}
            <li>{{ user.username }}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="unfollow" value="{{ user.id }}">
                    <button type="submit">Désabonner</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Abonnés</h2>
    <ul>
        {% for user in followers %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}
