/* ===== Général ===== */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "BebasNeue-Regular", sans-serif;
    margin: 0;
    font-size: 25px;
}
p {
    text-align: center;
    font-size: 25px;
}
.message {
    margin-right: inherit;
}

/* ===== Titres ===== */
h2 {
    font-family: "Granesta", sans-serif;
    font-size: 60px;
    letter-spacing: 4px;
}

/* ===== Boutons ===== */
button {
    background-color: #048b9a;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: darkslategray;
}

