/* ===== Général ===== */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "BebasNeue-Regular", sans-serif;
    margin: 0;
    font-size: 25px;
}
#content {
    text-align: center;
}

/* ===== Titres ===== */
h2 {
    font-family: "Granesta", sans-serif;
    font-size: 60px;
    letter-spacing: 4px;
}

/* ===== Boutons ===== */
button {
    background-color: #048b9a;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}
button:hover {
    background-color: darkslategray;
}
button.submit {
    width: 110px;
    margin: auto;
    display: block;
}

/* ===== Formulaires ===== */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    margin: -56px auto auto;
}
#id_book_title {
    height: 29px;
    width: 400px;
    margin-bottom: -167px;
}
#id_book_description {
    height: 187px;
    width: 400px;
    padding-bottom: 154px;
}
#id_book_image {
    color: black;
    border: none;
    padding: 10px;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -46px;
}
label[for="id_book_description"] {
    padding-right: 298px;
}
label[for="id_book_title"] {
    padding-right: 351px;
}
label[for="id_book_image"] {
    padding-right: 351px;
    margin-top: -3px;
}
label {
    font-size: 25px;
    display: block;
    margin-bottom: 5px;
}

/* ===== Eléments textuels ===== */
p {
    font-size: 20px;
    margin-right: 5px;
}
li.error {
    color: black;
}