/* ===== Général ===== */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 25px;
    padding-top: 115px;
    margin: 0 0 100px;
}
#content {
    text-align: center;
}

/* ===== Boutons ===== */
button {
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: -22px;
    margin-right: 68px;
}
button:hover {
    background-color: darkslategray;
}
button.submit {
    width: auto;
    margin-top: 20px;
    margin-right: 285px;
}

/* ===== Titres ===== */
h2 {
    font-family: "Granesta", sans-serif;
    font-size: 60px;
    letter-spacing: 4px;
    margin-bottom: 78px;
}
h3 {
   font-family: "Granesta", sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 60px;
}

/* ===== Formulaires ===== */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin-top: 72px;
    padding: 20px 20px 20px 238px;
}

/* ===== Tickets ===== */
.ticket {
    border: 2px solid black;
    justify-content: left;
    align-items: center;
    padding: 6px 376px 20px 27px;
    width: 604px;
    margin: 30px 30px -32px;
}
.ticket_description {
    padding-left: 1471px;
    padding-right: 822px;
    text-align: left;
}
.first_line_ticket {
    display: flex;
    justify-content: space-between;
    margin-right: -258px;
    margin-top: 5px;
    gap: 110px;
}
.left-content, .right-content {
    flex-basis: 50%;
}
.date {
    font-size: 15px;
    color: black;
    margin-right: -97px;
}
.right-content {
    display: flex;
    align-items: center;
}
.author {
    font-size: 17px;
    margin-left: -1386px;
}
.title_ticket {
    font-size: 25px;
    margin-left: -1454px;
    margin-top: 10px;
    padding-left: 1457px;
    padding-right: 885px;
    text-align: left;
}
img {
    margin-left: -400px;
}
p {
    margin-left: -1466px;
}
p.date {
    margin-left: 350px;
}

/* ==== Inputs et Labels ==== */
#id_rating {
    display: flex;
    flex-direction: row;
    gap: 66px;
    margin: -15px 255px -49px -22px;
}
label {
    font-size: 25px;
    display: block;
    margin-bottom: 5px;
}

/* ===== Reviews ===== */
#id_headline {
    height: 29px;
    width: 400px;
    margin-bottom: -167px;
}
#id_body {
    height: 187px;
    width: 400px;
    padding-bottom: 154px;
}
label[for="id_rating"] {
    transform: translateX(-300px);
}
label[for="id_body"] {
    transform: translateX(3px);
}

