/* ===== Global ===== */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "BebasNeue-Regular", sans-serif;
    margin-top: 50px;
    font-size: 25px;
    gap: 30px;
}
#content {
    text-align: center;
}

/* ===== Paragraphe ===== */
p {
    font-size: 20px;
    color: aliceblue;
    margin: 3px 270px 18px auto;
}

/* ===== Titres ===== */
h2 {
    font-family: "Granesta", sans-serif;
    font-size: 60px;
    letter-spacing: 4px;
}
h3 {
    font-family: "Granesta", sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
}

/* ===== Boutons ===== */
button {
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: grey;
}

/* ===== Autres styles ===== */
#text {
    font-size: 60px;
}
input[type="text" i] {
    writing-mode: horizontal-tb !important;
    height: 29px;
    width: 400px;
    margin-bottom: -167px;
}

/* ===== Listes et éléments de liste ===== */
li.username {
    font-size: 35px;
    color: black;
}
.message {
    color: black;
}
ul {
    color: black;
}
.followers {
    color: black;
    font-size: 35px;
}
