{% extends 'base_user.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ticket/ticket.css' %}">
    <div id="content">
        <h2>- Creer un ticket -</h2>
        <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="submit">Envoyer</button>
        </form>
        <a href="{% url 'flux' %}"> <button>Retour</button> </a>
    </div>
{% endblock content %}